body {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  background-color: rgb(165, 106, 221);
}
#title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
}
#subtitle {
  color: #fff;
  margin-bottom: 50px;
  font-size: 30px;
}
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
